{% extends "layout.html" %}
{% block title %}EJ3{% endblock %}
{% block jumbo %}
    <h1 class="display-5 mt-5"><a class="nav-link d-inline" href="/2">< </a>Ejercicio 3<a class="nav-link d-inline" href="/4"> ></a></h1>
{% endblock %}
{% block main %}
    <section class="container mt-5">
        <h3>Resultados obtenidos:</h3>
        <h4 class="mt-4">&nbsp;Agrupaciones por permisos de usuario:</h4>
        <h5><b>&ensp;Usuario:</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">&emsp;Numero de observaciones: <b>{{ info_user['num_observaciones'] }}</b> </li>
            <li class="list-group-item">&emsp;Numero de valores ausentes (missing): <b>{{ info_user['num_valores_ausentes'] }}</b></li>
            <li class="list-group-item">&emsp;Mediana: <b>{{ info_user['mediana'] }}</b></li>
            <li class="list-group-item">&emsp;Media: <b>{{ info_user['media'] }}</b></li>
            <li class="list-group-item">&emsp;Varianza: <b>{{ info_user['varianza'] }}</b></li>
            <li class="list-group-item">&emsp;Valor máximo: <b>{{ info_user['maximo'] }}</b></li>
            <li class="list-group-item">&emsp;Valor mínimo: <b>{{ info_user['minimo'] }}</b></li>
        </ul>
        <h5><b>&ensp;Administrador:</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">&emsp;Numero de observaciones: <b>{{ info_admin['num_observaciones'] }}</b> </li>
            <li class="list-group-item">&emsp;Numero de valores ausentes (missing): <b>{{ info_admin['num_valores_ausentes'] }}</b></li>
            <li class="list-group-item">&emsp;Mediana: <b>{{ info_admin['mediana'] }}</b></li>
            <li class="list-group-item">&emsp;Media: <b>{{ info_admin['media'] }}</b></li>
            <li class="list-group-item">&emsp;Varianza: <b>{{ info_admin['varianza'] }}</b></li>
            <li class="list-group-item">&emsp;Valor máximo: <b>{{ info_admin['maximo'] }}</b></li>
            <li class="list-group-item">&emsp;Valor mínimo: <b>{{ info_admin['minimo'] }}</b></li>
        </ul>
        <h4 class="mt-4">&nbsp;Agrupaciones por contraseñas:</h4>
        <h5><b>&ensp;Contraseña débil:</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">&emsp;Numero de observaciones: <b>{{ info_debil['num_observaciones'] }}</b> </li>
            <li class="list-group-item">&emsp;Numero de valores ausentes (missing): <b>{{ info_debil['num_valores_ausentes'] }}</b></li>
            <li class="list-group-item">&emsp;Mediana: <b>{{ info_debil['mediana'] }}</b></li>
            <li class="list-group-item">&emsp;Media: <b>{{ info_debil['media'] }}</b></li>
            <li class="list-group-item">&emsp;Varianza: <b>{{ info_debil['varianza'] }}</b></li>
            <li class="list-group-item">&emsp;Valor máximo: <b>{{ info_debil['maximo'] }}</b></li>
            <li class="list-group-item">&emsp;Valor mínimo: <b>{{ info_debil['minimo'] }}</b></li>
        </ul>
        <h5><b>&ensp;Contrseña fuerte:</b></h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">&emsp;Numero de observaciones: <b>{{ info_fuerte['num_observaciones'] }}</b> </li>
            <li class="list-group-item">&emsp;Numero de valores ausentes (missing): <b>{{ info_fuerte['num_valores_ausentes'] }}</b></li>
            <li class="list-group-item">&emsp;Mediana: <b>{{ info_fuerte['mediana'] }}</b></li>
            <li class="list-group-item">&emsp;Media: <b>{{ info_fuerte['media'] }}</b></li>
            <li class="list-group-item">&emsp;Varianza: <b>{{ info_fuerte['varianza'] }}</b></li>
            <li class="list-group-item">&emsp;Valor máximo: <b>{{ info_fuerte['maximo'] }}</b></li>
            <li class="list-group-item">&emsp;Valor mínimo: <b>{{ info_fuerte['minimo'] }}</b></li>
        </ul>
    </section>
{% endblock %}