{% extends "layout.html" %}
{% block title %}Ej4{% endblock %}
{% block jumbo %}
    <h1 class="display-5 mt-5"><a class="nav-link d-inline" href="/3">< </a>Ejercicio 4 &ensp;</h1>
{% endblock %}
{% block main %}
    <section class="container mt-5 mb-5">
        <h6><b>Enunciado Apartado 1:</b></h6>
        <p class="font-weight-normal">Mostrar la media de tiempo entre cambios de contraseña por usuario de usuarios normales frente a las de usuarios administradores</p>
        <div class="row justify-content-around mt-4">
            <div class="col-10 col-md-6 h-75 d-inline-block mx-auto text-center">
              <canvas id="chartap1"></canvas>
            </div>
        </div>
    </section>
     <section class="container mt-5 mb-5">
        <h6><b>Enunciado Apartado 2:</b></h6>
        <p class="font-weight-normal">Mostrar los 10 usuarios más críticos (un usuario crítico es aquel usuario que tiene la contraseña débil y además tiene mayor probabilidad de pulsar en un correo de spam), representadas en un gráfico de barras.</p>
        <div class="row mt-4 justify-content-md-center">
            <div class="col-10 col-md-6 h-75 d-inline-block mx-auto text-center">
              <canvas id="chartap2"></canvas>
            </div>
        </div>
    </section>
    <section class="container mt-5 mb-5">
        <h6><b>Enunciado Apartado 3:</b></h6>
        <p class="font-weight-normal">Mostrar las 5 páginas web que contienen más políticas (cookies, protección de datos o aviso legal) desactualizadas, representadas en un gráfico de barras según las políticas.</p>
        <div class="row mt-4 justify-content-md-center">
            <div class="col-10 col-md-6 h-75 d-inline-block mx-auto text-center">
              <canvas id="chartap3"></canvas>
            </div>
        </div>
        <h6><b>Enunciado Apartado 4:</b></h6>
        <p class="font-weight-normal">Mostrar según el año de creación las webs que cumplen todas las políticas de privacidad, frente a las que no cumplen la política de privacidad.</p>
        <div class="row mt-4 justify-content-md-center">
            <div class="col-10 col-md-6 h-75 d-inline-block mx-auto text-center">
              <canvas id="chartap4"></canvas>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
    const medias = {{ medias | safe }};
    const ctxap1 = document.getElementById('chartap1');
    new Chart(ctxap1, {
        type: 'bar',
  data: {
    labels: ["Usuario", "Administrador"],
    datasets: [{
      label: 'Valor medio de tiempo entre cambios de contraseña',
      data: medias,
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)'
      ],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
      });
    const ctxap2 = document.getElementById('chartap2');
    const criticos = {{ criticos | tojson | safe }};
    new Chart(ctxap2, {
        type: 'bar',
  data: {
    labels: criticos.map(item => item.nombre),
    datasets: [{
      label: 'Usuarios más criticos',
      data: criticos.map(item => item.probabilidad_spam),
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(61,255,66,0.32)',
        'rgba(235,178,54,0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgb(54,131,0)',
        'rgb(235,199,54)'
      ],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
      });
    const ctxap3 = document.getElementById('chartap3');

    // Accede a la variable 'politicas' que pasaste desde Flask
    const politicas = {{ politicas | tojson | safe }};



    new Chart(ctxap3, {
        type: 'bar',
        data: {
            labels: politicas.map(item => item.nombre),
            datasets: [
                {
                    label: 'cookies',
                    data: politicas.map(item => item.cookies),
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255,99,132,1)',
                    borderWidth: 1
                },
                {
                    label: 'aviso',
                    data: politicas.map(item => item.aviso),
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                },
                {
                    label: 'proteccion de datos',
                    data: politicas.map(item => item.proteccion_de_datos),
                    backgroundColor: 'rgba(61,255,66,0.32)',
                    borderColor: 'rgb(54,131,0)',
                    borderWidth: 1
                },
            ]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Páginas web con menos políticas actualizadas'
                },
            },
            responsive: true,
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true,
                    suggestedMax: 3.5
                }
            }
        }
    });

    const ctxap4 = document.getElementById('chartap4');
    const cumplen_politicas = {{ cumplen_politicas | tojson | safe }};


    new Chart(ctxap4, {
        type: 'bar',
        data: {
            labels: cumplen_politicas.map(item => item.creacion),
            datasets: [
                {
                    label: 'Cumplen',
                    data: cumplen_politicas.map(item => item.cumplen),
                    backgroundColor: 'rgba(61,255,66,0.32)',
                    borderColor: 'rgb(54,131,0)',
                    borderWidth: 1
                },
                {
                    label: 'No cumplen',
                    data: cumplen_politicas.map(item => item.no_cumplen),
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255,99,132,1)',
                    borderWidth: 1
                }
            ]
        },
        options: {
            plugins: {
                tooltip: {
                    callbacks: {
                        afterBody: function (context) {
                            if (context[0].dataset["label"] == "Cumplen") {
                                return cumplen_politicas[context[0].dataIndex]["nombres_cumplen"]
                            } else {
                                return cumplen_politicas[context[0].dataIndex]["nombres_no_cumplen"]
                            }
                        },
                    }
                },
                title: {
                    display: true,
                    text: 'Cumplimiento de políticas por año'
                },
            },
            responsive: true,
        }
    });


    </script>
{% endblock %}