{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block main %}
    <section class="container mt-5 mb-5">
        <div class="container text-center mt-5">
            <h1 class="font-height-bold">GRADO EN INGENIERIA DE LA CIBERSEGURIDAD</h1>
            <h2 class="font-height-bold mt-3">SISTEMAS DE LA INFORMACIÓN</h2>
            <div class="mt-5">
                <h2 class="text-uppercase font-weight-bold">Práctica 1 - Grupo 10</h2>
            </div>
        </div>
    </section>
    <br>
    <section class="container mt-5 mb-5 text-center">
        <h3>ÍNDICE</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="nav-link" href="/2">Ejercicio 2</a></li>
            <li class="list-group-item"><a class="nav-link" href="/2">Ejercicio 3</a></li>
            <li class="list-group-item"><a class="nav-link" href="/4">Ejercicio 4</a></li>
        </ul>
    </section>
{% endblock %}