{% extends "layout.html" %}
{% block title %}Politicas{% endblock %}
{% block jumbo %}
    <h1 class="display-5">Politicas</h1>
{% endblock %}
{% block main %}
    <section class="container mt-5 mb-5">
        <h6 class="font-weight-bold">Enunciado:</h6>
        <p class="font-weight-normal">Mostrar las 5 páginas web que contienen más políticas (cookies, protección de datos o aviso´ legal) desactualizadas, representadas en un gráfico de barras según las políticas.</p>
        <div class="row mt-4 justify-content-md-center">
            <div class="col-10 col-md-6 h-75 d-inline-block mx-auto text-center">
              <canvas id="myChart"></canvas>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script>
    const ctx = document.getElementById('myChart');

    // Accede a la variable 'politicas' que pasaste desde Flask
    const politicas = {{ politicas | tojson | safe }};

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: politicas.map(item => item.nombre),
            datasets: [
                {
                    label: 'cookies',
                    data: politicas.map(item => item.cookies),
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255,99,132,1)',
                    borderWidth: 1
                },
                {
                    label: 'aviso',
                    data: politicas.map(item => item.aviso),
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                },
                {
                    label: 'proteccion de datos',
                    data: politicas.map(item => item.proteccion_de_datos),
                    backgroundColor: 'rgba(54,235,78,0.2)',
                    borderColor: 'rgb(120,255,99)',
                    borderWidth: 1
                },
            ]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Páginas web con más políticas desactualizadas'
                },
            },
            responsive: true,
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true,
                    suggestedMax: 3.5
                }
            }
        }
    });
    </script>
{% endblock %}